$font12 = 12px
$font14 = 14px
$font16 = 16px
$font18 = 18px
$font20 = 20px

$green_color = #20af0e
$spacing = 1px
$m_auto = 0 auto
$x_center = translateX(-50%)
$y_center = translateY(-50%)

$btn_color = #75b56c
$border_color = #e5e5e5
$header_color = #f9f9f9